.datepicker {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  height: 24px;
  line-height: 24px;
  width: 230px;
}
.datepicker:focus {
  outline: 0 none;
  border: 1px solid #1abc9a;
}

.ui-datepicker-wrapper {
  display: none;
  position: absolute;
  width: 240px;
  font-size: 16px;
  color: #666;
  box-shadow: 2px 2px 8px 2px rgba(128, 128, 128, 3);
}
.ui-datepicker-wrapper-show {
  display: block;
}
.ui-datepicker-wrapper .ui-datepicker-header {
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #f0f0f0;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}
.ui-datepicker-wrapper .ui-datepicker-btn {
  font-family: serif;
  font-size: 20px;
  width: 20px;
  height: 50px;
  line-height: 50px;
  color: #1abc9c;
  cursor: pointer;
  text-decoration: none;
}
.ui-datepicker-wrapper .ui-datepicker-prev-btn {
  float: left;
}
.ui-datepicker-wrapper .ui-datepicker-next-btn {
  float: right;
}
.ui-datepicker-wrapper .ui-datepicker-body table {
  width: 100%;
  border-collapse: collapse;
}
.ui-datepicker-wrapper .ui-datepicker-body th,
.ui-datepicker-wrapper .ui-datepicker-body td {
  height: 30px;
  text-align: center;
}
.ui-datepicker-wrapper .ui-datepicker-body th {
  font-size: 12px;
  height: 40px;
  line-height: 40px;
}
.ui-datepicker-wrapper .ui-datepicker-body td {
  border: 1px solid #f0f0f0;
  font-size: 12px;
  cursor: pointer;
}